.containter{
    /* width: 1200px;  */
   padding: 80px;
   justify-content: center;
   align-items: center;
   /* height: 1200px; */
   /* border: 3px solid red; */
   
   
}
.child{
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 10px;
    /* vertical-align: middle; */
}
/* .child-1{
    display: inline-block;
    width: 300px;
    height: 200px;
   
}
.child-2{
    display: inline-block;
    width: 300px;
    height: 200px;
   
}
.child-3{
    display: inline-block;
    width: 300px;
    height: 200px;
   
}
.child-4{
    display: inline-block;
    width: 300px;
    height: 200px;
   
} */
img{
    width: 100%;
    margin-bottom: 5px;
}
/* .child{
    
    width: 100%;
    height: 300px;
} */
